.detail-hero {
  padding: 0 8rem 9rem;
  color: white;
}
.detail-hero h1 {
  text-align: center;
  font-size: 32px;
}
.detail-hero .hero-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.detail-hero .hero-profile h2 {
  text-align: center;
  font-size: 24px;
  margin: 0 0 1.5rem 0;
}
.detail-hero img {
  width: 70%;
}
.detail-hero div {
  flex: 50%;
}
.detail-hero div.hero-powers div.list {
  display: list-item;
}
.detail-hero div.hero-powers {
  display: grid;
  grid-gap: 6rem;
  font-size: 24px;
  text-align: center;
}

.detail-hero div.hero-powers span {
  clear: left;
  position: relative;
  display: table;
  margin: 0 auto;
}

.detail-hero div.hero-powers span.power-level {
  background-color: lightblue;
  padding: 1rem;
  color: rgb(14, 9, 9);
}
.detail-hero .description {
  text-align: justify;
  text-justify: inter-word;
}

.detail-hero .url {
  margin-top: 1rem;
  width: 100%;
  text-align: right;
}

.detail-hero a:link,
.detail-hero a:visited {
  background-color: white;
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.detail-hero a:hover,
.detail-hero a:active {
  background-color: rgb(155, 151, 151);
}

@media (max-width: 1046px) {
  .detail-hero {
    padding: 0 4rem 9rem;
  }
  .detail-hero img {
    display: block;
    margin: auto;
  }
  .detail-hero .hero-profile h2 {
    margin: 1.5rem 0 1.5rem 0;
  }
}
