footer {
  min-height: 80px;
  color: #ffffff;
  width: 100%;
  text-align:center;
  margin-top: 1.5rem;
  
  position: absolute;
  bottom: 0;
}

footer span {
  font-family: Comics-Font, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 80px;
}
