.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list a {
  text-decoration: none;
  color: white;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  color: rgb(14, 9, 9) !important;
}

.tab-list-active a {
  text-decoration: underline;
  color: rgb(14, 9, 9) !important;
}

.tab-list a {
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
